<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@192.168.0.16:1521:xe"/>
        <property name="username" value="MINI_PROJECT"/>
        <property name="password" value="projectpw"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/bc/mybatis/Smapper.xml"/>
    <mapper resource="com/bc/mybatis/Jmapper.xml"/>
    <mapper resource="com/bc/mybatis/Rmapper.xml"/>
    <mapper resource="com/bc/mybatis/Kmapper.xml"/>
    <mapper resource="com/bc/mybatis/Qmapper.xml"/>
  </mappers>
</configuration>
















